
#div1{
    margin: 10%;
    padding: 10%;
    border: 10%;
    width: 10px;
    height: 10px;
    box-sizing: content-box;
    background-color: aqua;
}

#div2{
    margin: 10%;
    padding: 10%;
    border: 10%;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: bisque;
}

