#div1 {
    margin: 10%;
    padding: 10%;
    border: 5%; 
    width: 50px; 
    height: 50px; 
    box-sizing: content-box;
    background-color: aqua;
}

#div2 {
    margin: 10%;
    padding: 10%;
    border: 5%; 
    width: 50px; 
    height: 50px; 
    box-sizing: border-box;
    background-color: bisque;
}