body{
    background-color: brown;
    /* font-family: 'Times New Roman', Times, serif;   #yo use gara, xaina bhane yo, tio in xaina bhane yo */

}
#div1{
padding: 40%;
text-align: center;
font-weight: lighter;
}
/* line height */

