
#div1 {
    background-color: antiquewhite;
    padding: 20px;
    overflow: scroll;
}


#div2 {
    background-color: #00ffff;
    position: relative;
    
}

#div3 {
    background-color: azure;
    position: absolute;
    
    width: 200px;
    height: 120px;
    overflow: scroll;
    padding: 10px;
}


#div4 {
    background-color: beige;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
}


#div5 {
    background-color: bisque;
    position: sticky;
    
}

