body {
    display: grid;

    grid-template-rows: 80px auto 80px;     /*yesle 3 ta column create handinxa, 80, 80 at the 1st and 3rd ani bich ko chai jati baki hunxa teti*/
    grid-template-columns: 250px auto;

    gap: 10px;
}


header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: blue;
}


#sidebar {
    background-color: green;
}


#box1 {
    background-color: red;
}

#box2 {
    background-color: yellow;
}

#box3 {
    background-color: pink;
}


main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: purple;
}


footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: maroon;
}