body{
    background-color: gray;
}

body > div {
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    
}

body > div:hover{
    background-color: skyblue;
}



#profile_pic img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 18px;
    margin-bottom: 5px;
}

p {
    line-height: 1.5;
}

ul {
    margin: 5px 0 15px 20px;
    padding: 0;
}


a {
    color: red;
    text-decoration: dashed;
    text-decoration: none;
}
