h1 {
    text-align: center;
}


table {
    width: 100%;
}

/* Table headers */
th {
    background-color: green;
    color: white;
    padding: 10px;
}

td {

    border: 1px solid red;
    text-align: center;
}


.odd{
    background-color: beige;
}